* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/23.11.30/practice/assets/download.jpeg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:fantasy;
}

main {
    filter: opacity(60%);
    width: 25%;
    height: 50%;
    background-color: white;
    border-radius: 10%;
}

.monitor {
    margin: 20px;
    height: 15%;
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.result {
    margin: 20px;
}

.result > h3 {
    color: aliceblue;
    font-size: 30px;
}

.button-container {
    margin: 20px;
    height: 73%;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    
}

.buttons {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.equals {
    grid-row-end: span 4;
    border-radius: 10px!important;
}

button {
    margin: 3px;
    border-radius: 10%;
    cursor: pointer;
    border: none;
    font-size: 20px;
}